<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="Apple-Logo.png" style="height: 32px; width: 64px;">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="style2.css" />
</head>
<body>
    
    <div id="navbar">
        <ul>
            <!-- <li id="box111" style="color: orange; font-size: 16px;"><a href="mac.html">Mac</a></li> -->

          <li id="box110"><a href="index2"></a></li>
          <li id="box111" style="color: orange; font-size: 20px; font-weight: bolder;"><a href="landingPage">!ncredible भारत </a></li>
          <li id="box111"><a href="index2">Home</a></li>
          <li id="box111"><a href="page1">Explore</a></li>
          <li id="box111"><a href="https://www.makemytrip.com/promos/holidays-pilgrimage-20072022.html?detail_image=no">Packages</a> </li>
          <li id="box111"><a href="gallary">Gallery</a> </li>
          <li id="box111"><a href="home">Complaints</a> </li>
          <!-- <li id="box111"><a href="#">Login/SignUp</a> </li>
          <li id="box111"><a href="#">Entertainment</a> </li>
          <li id="box111"><a href="#">Accessories</a> </li> -->
        </ul>
        </div>
<br>
<br>
<div class="video-container">
    <video autoplay loop muted>
    <source src="Incredible_india.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video> 
  </div>

  <h3 style="text-align:center; margin-top: 5px; color: rgb(209, 161, 71)">Unveiling the Wonders of India</h3>
 
<br>


<div id="container1">
    <h1 id="normaltext">One of the most popular 
    </h1>
    <h1 id="text2">travel website of 2023</h1>   
</div> 

<div id="main3">
    <div class="outer4">
      <div class="inner4">
        </div>
      </div> 
  
      <div class="outer5">
        <div class="inner5">
          <pre id="pre1">
             India
          </pre>
          <pre id="pre2">
            a mesmerizing blend of East and West, is a country 
            that beckons with its rich history, vibrant culture,
            and stunning architecture. As you wander through its
            bustling streets, there are certain places that simply
            cannot be missed.
          </pre>
          <pre style="font-size: 13px;"><a  href="page1" id="learn1">  Learn more >
          </a></pre>
          
          </div>
        </div> 
  </div>












<br>
<br>
<br>
<br>
<br>
<div class="image-cont2">
</div>

<br>
<br>



<div class="cont3" >
<pre >
                                                          Embark on a captivating odyssey across the length and breadth of India,                   
                                                  a mesmerizing land that seamlessly weaves together ancient traditions, modern innovation,          
                                            picturesque landscapes, and a kaleidoscope of cultures, promising every traveler an enriching tapestry of     
                                            experiences. Immerse yourself in the sheer grandeur of India's historical wonders, from the majestic forts.
</pre>
</div>



<br>
<br>
<br>
<br>









<br>
<br>
<div id="footerContainer">
    <!-- <p class="footercontent" style="margin-top: 9px;">
      
      </p> -->
    
     <p class="footercontent" style="margin-top:15px padding-top:10px">
        We're dedicated to showcasing the awe-inspiring beauty, rich heritage, and cultural diversity of 'Incredible India.' Immerse yourself in the vibrant tapestry of traditions, explore ancient wonders, and savor the flavors of this incredible land. Our journeys promise to reveal India's hidden treasures, one unforgettable experience at a time. Join us on a voyage through the heart of this remarkable nation.

        Our mission is to immerse you in the myriad wonders of this captivating nation. From the snow-capped peaks of the Himalayas to the pristine beaches of Goa, the bustling markets of Delhi to the serene backwaters of Kerala, India offers an unrivaled wealth of experiences.

        
       </p> 
    
    
      <p class="footercontent" style="margin-top: 9px;">
        With a deep respect for the profound history, spirituality, and warmth of the Indian people, we curate extraordinary trips that unveil the heart and soul of this remarkable land. Our expertly designed itineraries promise to take you beyond the guidebooks, allowing you to connect with the real India.
      </p> 
    
    <br>
    <br>
    
        <div class="line"></div>
    
      <div id="foot">
        <ul>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Privacy Policy</a></li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Terms of Use</a></li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Policy</a> </li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Legal</a> </li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Site Map</a> </li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Contact</a> </li>
            
        </ul>
           
      </div>
      <div id="foot">
        <ul>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Support</a></li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Safety and Security</a></li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">FAQs</a> </li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Home</a> </li>

        </ul>
       
            
      </div>

      <hr style="border-top: 2px solid rgb(255, 193, 77);">


      <p class="footercontent-2" style="margin-top: 15px; text-align: center;" >
    © 2023 !ncredible भारत. All rights reserved.
        </p>

</div>
</body>
</html>