<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
        
    <div id="navbar">
        <ul>
            <!-- <li id="box111" style="color: orange; font-size: 16px;"><a href="mac.html">Mac</a></li> -->

          <li id="box110"><a href="index2"></a></li>
          <li id="box111" style="color: orange; font-size: 20px; font-weight: bolder;"><a href="landingPage">!ncredible भारत </a></li>
          <li id="box111"><a href="index2">Home</a></li>
          <li id="box111"><a href="page1">Explore</a></li>
          <li id="box111"><a href="https://www.makemytrip.com/promos/holidays-pilgrimage-20072022.html?detail_image=no">Packages</a> </li>
          <li id="box111"><a href="gallary">Gallery</a> </li>
          <li id="box111"><a href="home">Complaints</a> </li>
          <!-- <li id="box111"><a href="#">Login/SignUp</a> </li>
          <li id="box111"><a href="#">Entertainment</a> </li>
          <li id="box111"><a href="#">Accessories</a> </li> -->
        </ul>
        </div>
    <div class="conatiner">

        <header class="header_container">
            <h1 class="header_title">Lets read our fascinating blog</h1>
            <p class="hedder_button">
                <span class="Button">
                    <a href="viewmore"><button>View All</button></a>
                </span>
            </p>
        </header>

        <main>
            <div class="main_container">
                <!-- Card 1 start-->
                <div class = "card_container">
                    <a href="#" class="card_image_container">
                        <img src="sourabh-agarwal-R-Zcte8oACo-unsplash.jpg" alt="Card 1 image"
                        class="card_image"
                        loading="lazy"
                        />
                        
                    </a>
                    <div class="card_tital_container">
                        <a href="#" class="card_title_anchor">
                            <h2 class="card_title">Temple Road, Belur, Karnataka 573115, India</h2>
                        </a>
                        <p class="card_desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, quasi aliquam veniam explicabo odio inventore totam quisquam quis 
                        </p>
                    </div>
                    <div class="card_footer_container">
                        <div class="author_container">
                            <div class="author_avtar_container">
                               <img src="comment-253-512.png"
                               loading="lazy"
                               class="author_avtar"
                               alt="avtar1"/> 
                            </div>
                            <div class="author_info_container">
                                <span class="auther_name">
                                    5 Comments
                                </span>
                            </div>

                        </div>
                        <div class="card_tag">
                            <span class="card_tag_container">
                                Learn More
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="card_container">
                    <a href="#" class="card_image_container">
                        <img src="cq5dam.web.1800.600 (1).jpeg" alt="Card 1 image"
                        class="card_image"
                        loading="lazy"
                        />
                        
                    </a>
                    <div class="card_tital_container">
                        <a href="#" class="card_title_anchor">
                            <h2 class="card_title">Shillong Scotland of East</h2>
                        </a>
                        <p class="card_desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, quasi  aliquam veniam explicabo odio inventore totam quisquam quis
                        </p>
                    </div>
                    <div class="card_footer_container">
                        <div class="author_container">
                            <div class="author_avtar_container">
                               <img src="comment-253-512.png"
                               loading="lazy"
                               class="author_avtar"
                               alt="avtar1"/> 
                            </div>
                            <div class="author_info_container">
                                <span class="auther_name">
                                    3 Comments
                                </span>
                            </div>

                        </div>
                        <div class="card_tag">
                            <span class="card_tag_container">
                                Learn More
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="card_container">
                    <a href="#" class="card_image_container">
                        <img src="cq5dam.web.1024.576.jpeg" alt="Card 1 image"
                        class="card_image"
                        loading="lazy"
                        />
                        
                    </a>
                    <div class="card_tital_container">
                        <a href="#" class="card_title_anchor">
                            <h2 class="card_title">Ooti Nestled in Nilgiries</h2> 
                        </a>
                        <p class="card_desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, quasi  aliquam veniam explicabo odio inventore totam quisquam quis
                        </p>
                    </div>
                    <div class="card_footer_container">
                        <div class="author_container">
                            <div class="author_avtar_container">
                               <img src="comment-253-512.png"
                               loading="lazy"
                               class="author_avtar"
                               alt="avtar1"/> 
                            </div>
                            <div class="author_info_container">
                                <span class="auther_name">
                                    2 Comments
                                </span>
                            </div>

                        </div>
                        <div class="card_tag">
                            <span class="card_tag_container">
                                Learn More
                            </span>
                        </div>
                    </div>
                </div>                
            </div>
            <br>
            <br>
            <div class="main_container">
                <!-- Card 4 start-->
                <div class = "card_container">
                    <a href="#" class="card_image_container">
                        <img src="ashim-d-silva-YH1sPWaQAhg-unsplash.jpg" alt="Card 1 image"
                        class="card_image"
                        loading="lazy"
                        />
                        
                    </a>
                    <div class="card_tital_container">
                        <a href="#" class="card_title_anchor">
                            <h2 class="card_title">The Mysore Palace</h2>
                        </a>
                        <p class="card_desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, quasi aliquam veniam explicabo odio inventore totam quisquam quis 
                        </p>
                    </div>
                    <div class="card_footer_container">
                        <div class="author_container">
                            <div class="author_avtar_container">
                               <img src="comment-253-512.png"
                               loading="lazy"
                               class="author_avtar"
                               alt="avtar1"/> 
                            </div>
                            <div class="author_info_container">
                                <span class="auther_name">
                                    5 Comments
                                </span>
                            </div>

                        </div>
                        <div class="card_tag">
                            <span class="card_tag_container">
                                Learn More
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Card 5 -->
                <div class="card_container">
                    <a href="#" class="card_image_container">
                        <img src="dewang-gupta-EUpkkNip4mE-unsplash.jpg" alt="Card 1 image"
                        class="card_image"
                        loading="lazy"
                        />
                        
                    </a>
                    <div class="card_tital_container">
                        <a href="#" class="card_title_anchor">
                            <h2 class="card_title">Safdarjung Tomb, New Delhi, India</h2>
                        </a>
                        <p class="card_desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, quasi  aliquam veniam explicabo odio inventore totam quisquam quis
                        </p>
                    </div>
                    <div class="card_footer_container">
                        <div class="author_container">
                            <div class="author_avtar_container">
                               <img src="comment-253-512.png"
                               loading="lazy"
                               class="author_avtar"
                               alt="avtar1"/> 
                            </div>
                            <div class="author_info_container">
                                <span class="auther_name">
                                    3 Comments
                                </span>
                            </div>

                        </div>
                        <div class="card_tag">
                            <span class="card_tag_container">
                                Learn More
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Card 6 -->
                <div class="card_container">
                    <a href="#" class="card_image_container">
                        <img src="ashutosh-dvivedi-BZQslOwhW2I-unsplash.jpg" alt="Card 1 image"
                        class="card_image"
                        loading="lazy"
                        />
                        
                    </a>
                    <div class="card_tital_container">
                        <a href="#" class="card_title_anchor">
                            <h2 class="card_title">Gwalior, Madhya Pradesh, India</h2>
                        </a>
                        <p class="card_desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, quasi  aliquam veniam explicabo odio inventore totam quisquam quis
                        </p>
                    </div>
                    <div class="card_footer_container">
                        <div class="author_container">
                            <div class="author_avtar_container">
                               <img src="comment-253-512.png"
                               loading="lazy"
                               class="author_avtar"
                               alt="avtar1"/> 
                            </div>
                            <div class="author_info_container">
                                <span class="auther_name">
                                    2 Comments
                                </span>
                            </div>

                        </div>
                        <div class="card_tag">
                            <span class="card_tag_container">
                                Learn More
                            </span>
                        </div>
                    </div>
                </div>                
            </div>
            <br>
            <br>
                        <div class="main_container">
                <!-- Card 7 start-->
                <div class = "card_container">
                    <a href="#" class="card_image_container">
                        <img src="arun-prakash-MxI1bpF84Qk-unsplash.jpg" alt="Card 1 image"
                        class="card_image"
                        loading="lazy"
                        />
                        
                    </a>
                    <div class="card_tital_container">
                        <a href="#" class="card_title_anchor">
                            <h2 class="card_title">Jamkhandi Palace, Ramathirtha Road, Karnataka, India</h2>
                        </a>
                        <p class="card_desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, quasi aliquam veniam explicabo odio inventore totam quisquam quis 
                        </p>
                    </div>
                    <div class="card_footer_container">
                        <div class="author_container">
                            <div class="author_avtar_container">
                               <img src="comment-253-512.png"
                               loading="lazy"
                               class="author_avtar"
                               alt="avtar1"/> 
                            </div>
                            <div class="author_info_container">
                                <span class="auther_name">
                                    5 Comments
                                </span>
                            </div>

                        </div>
                        <div class="card_tag">
                            <span class="card_tag_container">
                                Learn More
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Card 8 -->
                <div class="card_container">
                    <a href="#" class="card_image_container">
                        <img src="suryaansh-maithani-le5aibHWntY-unsplash.jpg" alt="Card 1 image"
                        class="card_image"
                        loading="lazy"
                        />
                        
                    </a>
                    <div class="card_tital_container">
                        <a href="#" class="card_title_anchor">
                            <h2 class="card_title">
                                Jammu and Kashmir</h2>
                        </a>
                        <p class="card_desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, quasi  aliquam veniam explicabo odio inventore totam quisquam quis
                        </p>
                    </div>
                    <div class="card_footer_container">
                        <div class="author_container">
                            <div class="author_avtar_container">
                               <img src="comment-253-512.png"
                               loading="lazy"
                               class="author_avtar"
                               alt="avtar1"/> 
                            </div>
                            <div class="author_info_container">
                                <span class="auther_name">
                                    3 Comments
                                </span>
                            </div>

                        </div>
                        <div class="card_tag">
                            <span class="card_tag_container">
                                Learn More
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Card 9 -->
                <div class="card_container">
                    <a href="#" class="card_image_container">
                        <img src="savio-d-souza-Tnp8FWxVtSI-unsplash.jpg" alt="Card 1 image"
                        class="card_image"
                        loading="lazy"
                        />
                        
                    </a>
                    <div class="card_tital_container">
                        <a href="#" class="card_title_anchor">
                            <h2 class="card_title">Lotus Temple,New Dehli</h2>
                        </a>
                        <p class="card_desc">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, quasi  aliquam veniam explicabo odio inventore totam quisquam quis
                        </p>
                    </div>
                    <div class="card_footer_container">
                        <div class="author_container">
                            <div class="author_avtar_container">
                               <img src="comment-253-512.png"
                               loading="lazy"
                               class="author_avtar"
                               alt="avtar1"/> 
                            </div>
                            <div class="author_info_container">
                                <span class="auther_name">
                                    2 Comments
                                </span>
                            </div>

                        </div>
                        <div class="card_tag">
                            <span class="card_tag_container">
                                Learn More
                            </span>
                        </div>
                    </div>
                </div>                
            </div>
        </main>
        <div id="footerContainer">
            <!-- <p class="footercontent" style="margin-top: 9px;">
              
              </p> -->
            
             <p class="footercontent" style="margin-top: 15px; padding-top: 10px;">
                We're dedicated to showcasing the awe-inspiring beauty, rich heritage, and cultural diversity of 'Incredible India.' Immerse yourself in the vibrant tapestry of traditions, explore ancient wonders, and savor the flavors of this incredible land. Our journeys promise to reveal India's hidden treasures, one unforgettable experience at a time. Join us on a voyage through the heart of this remarkable nation.
        
                Our mission is to immerse you in the myriad wonders of this captivating nation. From the snow-capped peaks of the Himalayas to the pristine beaches of Goa, the bustling markets of Delhi to the serene backwaters of Kerala, India offers an unrivaled wealth of experiences.
        
                
               </p> 
            
            
              <p class="footercontent" style="margin-top: 9px;">
                With a deep respect for the profound history, spirituality, and warmth of the Indian people, we curate extraordinary trips that unveil the heart and soul of this remarkable land. Our expertly designed itineraries promise to take you beyond the guidebooks, allowing you to connect with the real India.
              </p> 
            
            <br>
            <br>
            
                <div class="line"></div>
            
              <div id="foot">
                <ul>
                  <li id="box11" style="color: rgb(121,121,121);"><a href="#">Privacy Policy</a></li>
                  <li id="box11" style="color: rgb(121,121,121);"><a href="#">Terms of Use</a></li>
                  <li id="box11" style="color: rgb(121,121,121);"><a href="#">Policy</a> </li>
                  <li id="box11" style="color: rgb(121,121,121);"><a href="#">Legal</a> </li>
                  <li id="box11" style="color: rgb(121,121,121);"><a href="#">Site Map</a> </li>
                  <li id="box11" style="color: rgb(121,121,121);"><a href="#">Contact</a> </li>
                    
                </ul>
                   
              </div>
              <div id="foot">
                <ul>
                  <li id="box11" style="color: rgb(121,121,121);"><a href="#">Support</a></li>
                  <li id="box11" style="color: rgb(121,121,121);"><a href="#">Safety and Security</a></li>
                  <li id="box11" style="color: rgb(121,121,121);"><a href="#">FAQs</a> </li>
                  <li id="box11" style="color: rgb(121,121,121);"><a href="#">Home</a> </li>
        
                </ul>
               
                    
              </div>
        
              <hr style="border-top: 2px solid rgb(255, 193, 77);">
        
        
              <p class="footercontent-2" style="margin-top: 15px; text-align: center;" >
            © 2023 !ncredible भारत. All rights reserved.
                </p>
    </div>
</body>
</html>