<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="explore.css">
</head>
<body>

    <div id="wrapper">

        <div id="navbar">
            <ul>
                <!-- <li id="box111" style="color: orange; font-size: 16px;"><a href="mac.html">Mac</a></li> -->
    
              <li id="box110"><a href="index2"></a></li>
              <li id="box111" style="color: orange; font-size: 20px; font-weight: bolder;"><a href="landingPage">!ncredible भारत </a></li>
              <li id="box111"><a href="index2">Home</a></li>
              <li id="box111"><a href="page1">Explore</a></li>
              <li id="box111"><a href="https://www.makemytrip.com/promos/holidays-pilgrimage-20072022.html?detail_image=no">Packages</a> </li>
              <li id="box111"><a href="gallary">Gallery</a> </li>
              <li id="box111"><a href="home">Complaints</a> </li>
              <!-- <li id="box111"><a href="#">Login/SignUp</a> </li>  -->
              <!-- <li id="box111"><a href="readpage.html">Initialpage</a> </li> -->
              <!-- <li id="box111"><a href="#">Accessories</a> </li> -->
            </ul>
        </div>


        <div class="container">
            <div class="heddercontainer">
                <h1 id="left">Must Visit Places In India</h1>
                <p id="para">India is a diverse land with varied landscapes, cultures, languages, and traditions. From the Himalayan peaks to coastal beaches, and bustling cities to tranquil villages, it offers a rich tapestry of experiences.</p>
            </div>

            <div id="Gallery">
                <figure class="card">
                    <img src="img1.jpeg" >
                    <figcaption id="Name">Taj Mahal</figcaption>
                    <a href="https://en.wikipedia.org/wiki/Taj_Mahal">Info</a>
                    <span id="cardbutton">Read More</span>
                </figure>
                <figure class="card">
                    <img src="img2.jpeg" >
                    <figcaption>Agra Fort</figcaption>
                    <a href="https://en.wikipedia.org/wiki/Agra_Fort">Info</a>
                    <span id="cardbutton">Read More</span>
                </figure>
                <figure class="card">
                    <img src="img3.jpg" >
                    <figcaption>Hill Forts of Rajasthan</figcaption>
                    <a href="https://en.wikipedia.org/wiki/Hill_Forts_of_Rajasthan">Info</a>
                    <span id="cardbutton">Read More</span>
                </figure>
                <figure class="card">
                    <img src="img4.jpeg">
                    <figcaption id="figcaption1">Elephanta Caves</figcaption>
                    <a href="https://en.wikipedia.org/wiki/Elephanta_Caves">Info</a>
                    <span id="cardbutton1">Read More</span>
                </figure>
                <figure class="card">
                    <img src="img5.jpeg">
                    <figcaption id="figcaption1">Humayun’s Tomb</figcaption>
                    <a href="Humayun’s Tomb.jpg">Info</a>
                    <span id="cardbutton1">Read More</span>
                </figure>
                <figure class="card">
                    <img src="img6.jpeg">
                    <figcaption id="figcaption1">Mahabodhi Temple</figcaption>
                    <a href="https://en.wikipedia.org/wiki/Mahabodhi_Temple">Info</a>
                    <span id="cardbutton1">Read More</span>
                </figure>
                <figure class="card">
                    <img src="img7.jpeg" >
                    <figcaption>Khajuraho</figcaption>
                    <a href="https://en.wikipedia.org/wiki/Khajuraho_Group_of_Monuments">Info</a>
                    <span id="cardbutton">Read More</span>
                </figure>
                <figure class="card">
                    <img src="img8.jpeg" >
                    <figcaption>CSMT Mumbai</figcaption>
                    <a href="https://en.wikipedia.org/wiki/Chhatrapati_Shivaji_Terminus">Info</a>
                    <span id="cardbutton">Read More</span>
                </figure>
                <figure class="card">
                    <img src="img9.jpeg" >
                    <figcaption>Hampi</figcaption>
                    <a href="https://en.wikipedia.org/wiki/Hampi">Info</a>
                    <span id="cardbutton">Read More</span>
                </figure>
            </div>
        </div>

    </div>

    <div id="footerContainer">
    <!-- <p class="footercontent" style="margin-top: 9px;">
      
      </p> -->
    
     <p class="footercontent" style="margin-top: 15px; padding-top:10px;">
        We're dedicated to showcasing the awe-inspiring beauty, rich heritage, and cultural diversity of 'Incredible India.' Immerse yourself in the vibrant tapestry of traditions, explore ancient wonders, and savor the flavors of this incredible land. Our journeys promise to reveal India's hidden treasures, one unforgettable experience at a time. Join us on a voyage through the heart of this remarkable nation.

        Our mission is to immerse you in the myriad wonders of this captivating nation. From the snow-capped peaks of the Himalayas to the pristine beaches of Goa, the bustling markets of Delhi to the serene backwaters of Kerala, India offers an unrivaled wealth of experiences.

        
       </p> 
    
    
      <p class="footercontent" style="margin-top: 9px;">
        With a deep respect for the profound history, spirituality, and warmth of the Indian people, we curate extraordinary trips that unveil the heart and soul of this remarkable land. Our expertly designed itineraries promise to take you beyond the guidebooks, allowing you to connect with the real India.
      </p> 
    
    <br>
    <br>
    
        <div class="line"></div>
    
      <div id="foot">
        <ul>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Privacy Policy</a></li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Terms of Use</a></li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Policy</a> </li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Legal</a> </li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Site Map</a> </li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Contact</a> </li>
            
        </ul>
           
      </div>
      <div id="foot">
        <ul>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Support</a></li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Safety and Security</a></li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">FAQs</a> </li>
          <li id="box11" style="color: rgb(121,121,121);"><a href="#">Home</a> </li>

        </ul>
       
            
      </div>

      <hr style="border-top: 2px solid rgb(255, 193, 77);">


      <p class="footercontent-2" style="margin-top: 15px; text-align: center;" >
    © 2023 !ncredible भारत. All rights reserved.
        </p>
</body>
</html>